# TestResult


## Supported Types

### InProgressTestResult

```go
testResult := shared.CreateTestResultInProgressTestResult(shared.InProgressTestResult{/* values here */})
```

### FailedTestResult

```go
testResult := shared.CreateTestResultFailedTestResult(shared.FailedTestResult{/* values here */})
```

### OfflineTestResult

```go
testResult := shared.CreateTestResultOfflineTestResult(shared.OfflineTestResult{/* values here */})
```

### FinishedPingTestResult

```go
testResult := shared.CreateTestResultFinishedPingTestResult(shared.FinishedPingTestResult{/* values here */})
```

### FinishedTracerouteTestResult

```go
testResult := shared.CreateTestResultFinishedTracerouteTestResult(shared.FinishedTracerouteTestResult{/* values here */})
```

### FinishedDNSTestResult

```go
testResult := shared.CreateTestResultFinishedDNSTestResult(shared.FinishedDNSTestResult{/* values here */})
```

### FinishedMtrTestResult

```go
testResult := shared.CreateTestResultFinishedMtrTestResult(shared.FinishedMtrTestResult{/* values here */})
```

### FinishedHTTPTestResult

```go
testResult := shared.CreateTestResultFinishedHTTPTestResult(shared.FinishedHTTPTestResult{/* values here */})
```

